<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="746a6f">  <td>20/07/29 00:59:48</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.myDriver()[pri:0, instance:com.testcases.ScenarioOne@51e5fc98]">&gt;&gt;myDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@235237152</td>   <td></td> </tr>
<tr bgcolor="adf1b2">  <td>20/07/29 00:59:59</td>   <td>11420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScenarioOne.myTest()[pri:0, instance:com.testcases.ScenarioOne@51e5fc98]">myTest</td> 
  <td>main@235237152</td>   <td></td> </tr>
</table>
